[user]
  name = Dude Lebowski
  email = dude.lebowski@itsme.com
[push]
  default = current
[color]
  ui = true
[alias]
  cp = cherry-pick
  st = status -s
  cl = clone
  ci = commit
  co = checkout
  br = branch
  conflicts = diff --name-only --diff-filter=U
  dc = git branch --merged | egrep -v "(^\*|master|main|devel)" | xargs git branch -d
